<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Agenda BRO-KERS</title>
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/StyleModal.css" rel="stylesheet" type="text/css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="maincontent">
            <header>
                <div>
                    <p id="dateday">JEUDI</p>
                    <p id="datedaytest">21 mars 2021</p>
                </div>
                <div id="brand"><h1>@Html.ActionLink("BRO-KERS", "Index", "Home")</h1></div>
            </header>
            <hr />
            <section>
                @RenderBody()
            </section>
            <footer>
                <hr />
                <p>&copy; BRO-KERS - App by &#169;Renaudesign | 2021</p>
            </footer>
        </div>
        <script src="~/Content/Script.js" type="text/javascript"></script>
    </body>
</html>