/* Coolors Exported Palette - https://coolors.co/0f1231-706c61-f8f4e3-f87575-ff8966 */

/* CSS HEX */
--oxford-blue: #0f1231ff;
--nickel: #706c61ff;
--eggshell: #f8f4e3ff;
--light-coral: #f87575ff;
--coral: #ff8966ff;

/* CSS HSL */
--oxford-blue: hsla(235, 53%, 13%, 1);
--nickel: hsla(44, 7%, 41%, 1);
--eggshell: hsla(49, 60%, 93%, 1);
--light-coral: hsla(0, 90%, 72%, 1);
--coral: hsla(14, 100%, 70%, 1);

/* SCSS HEX */
$oxford-blue: #0f1231ff;
$nickel: #706c61ff;
$eggshell: #f8f4e3ff;
$light-coral: #f87575ff;
$coral: #ff8966ff;

/* SCSS HSL */
$oxford-blue: hsla(235, 53%, 13%, 1);
$nickel: hsla(44, 7%, 41%, 1);
$eggshell: hsla(49, 60%, 93%, 1);
$light-coral: hsla(0, 90%, 72%, 1);
$coral: hsla(14, 100%, 70%, 1);

/* SCSS RGB */
$oxford-blue: rgba(15, 18, 49, 1);
$nickel: rgba(112, 108, 97, 1);
$eggshell: rgba(248, 244, 227, 1);
$light-coral: rgba(248, 117, 117, 1);
$coral: rgba(255, 137, 102, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0f1231ff, #706c61ff, #f8f4e3ff, #f87575ff, #ff8966ff);
$gradient-right: linear-gradient(90deg, #0f1231ff, #706c61ff, #f8f4e3ff, #f87575ff, #ff8966ff);
$gradient-bottom: linear-gradient(180deg, #0f1231ff, #706c61ff, #f8f4e3ff, #f87575ff, #ff8966ff);
$gradient-left: linear-gradient(270deg, #0f1231ff, #706c61ff, #f8f4e3ff, #f87575ff, #ff8966ff);
$gradient-top-right: linear-gradient(45deg, #0f1231ff, #706c61ff, #f8f4e3ff, #f87575ff, #ff8966ff);
$gradient-bottom-right: linear-gradient(135deg, #0f1231ff, #706c61ff, #f8f4e3ff, #f87575ff, #ff8966ff);
$gradient-top-left: linear-gradient(225deg, #0f1231ff, #706c61ff, #f8f4e3ff, #f87575ff, #ff8966ff);
$gradient-bottom-left: linear-gradient(315deg, #0f1231ff, #706c61ff, #f8f4e3ff, #f87575ff, #ff8966ff);
$gradient-radial: radial-gradient(#0f1231ff, #706c61ff, #f8f4e3ff, #f87575ff, #ff8966ff);